body {
    background-color: burlywood;
}

.root-container {
    /* background-color: brown; */
    display: flex;
}

.forms-container {
    /* background-color: antiquewhite; */
    width: min-content;
    height: min-content;
    margin: 30px;
    display: flex;
    flex-direction: column;
    border: 3px solid green;
    flex:2;
}

.form-container {
    /* border: 2px solid lime; */
    margin: 15px;
}

.form-container > form {
    border: 1px solid forestgreen;
    display: flex;
    flex-direction: column;
}

form > input {
    margin-bottom: 10px;
}

.title {
    display: flex;
    padding: 10px;
    border: 3px solid orange;
}

.title > p {
    border: 1px solid darkorchid;
}

.symbol {
    border: 1px solid red;
}

.preview-container {
    background-color: antiquewhite;
    margin: 30px;
    height: 800px;
    flex: 3;
}